# コンパイルされた出力を無視
**/dist/
**/build/
**/out/

# Node.jsの依存関係を無視
**/node_modules/

# ログファイルを無視
logs/
**/logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS固有のファイルを無視
.DS_Store

# テスト関連のファイルを無視
**/coverage/
**/.nyc_output/

# IDEやエディタの設定を無視
**/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCodeの設定を無視。ただし必要なものは例外として許可
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 環境変数ファイルを無視
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# 一時ディレクトリを無視
.temp/
.tmp/

# ランタイムデータを無視
pids/
*.pid
*.seed
*.pid.lock

# 診断レポートを無視
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
